.idea
trainingApp.iml
Istio-sample/Basic-Application/sources/logs/docker.build.log
Istio-sample/Basic-Application/sources/logs/docker.result.log
.idea/misc.xml
.idea/modules.xml
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/checksums/checksums.lock
*.bin
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/checksums/checksums.lock
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/checksums/md5-checksums.bin
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/checksums/sha1-checksums.bin
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/executionHistory/executionHistory.bin
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/executionHistory/executionHistory.lock
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/fileChanges/last-build.bin
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/fileHashes/fileHashes.bin
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/fileHashes/fileHashes.lock
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/fileHashes/resourceHashesCache.bin
Istio-sample/Basic-Application/sources/Liquibase/.gradle/8.11.1/gc.properties
Istio-sample/Basic-Application/sources/Liquibase/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Istio-sample/Basic-Application/sources/Liquibase/.gradle/buildOutputCleanup/cache.properties
Istio-sample/Basic-Application/sources/Liquibase/.gradle/buildOutputCleanup/outputFiles.bin
Istio-sample/Basic-Application/sources/Liquibase/.gradle/file-system.probe
Istio-sample/Basic-Application/sources/Liquibase/.gradle/vcs-1/gc.properties
